.pessoas {
    display: flex;
    padding: 3rem;
    justify-content: space-around;
}

.pessoa {
    display: flex;
    flex-direction: column;
}

.pessoa__imagem {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    border-radius: 100%;

    height: 300px;
    width: 300px;

    margin: 0 auto;
}

.pessoa__imagem--roberta{
    background-image: url(../img/pessoas/roberta.jpg);
}

.pessoa__imagem--marcela{
    background-image: url(../img/pessoas/marcela.jpg);
}

.pessoa__imagem--andreia{
    background-image: url(../img/pessoas/andreia.jpg);
}

.pessoa__nome {
    margin: 1rem 0;

    font-family: var(--pacifico);
    color: var(--vermelho-escuro);
    font-size: 2rem;
}

.pessoa__funcao {
    color: #595959;

    text-transform: lowercase;

    font-size: 1.25rem
}

@media screen and (min-width: 0) {
    .pessoas {
        flex-direction: column;
    }

    .pessoa {
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 768px) {
    .pessoas {
        flex-direction: row;
    }

    .pessoa {
        margin-bottom: 0;
    }
}
